# Ignore macOS system files
**/.DS_Store

### Frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Backend
backend/app/views.py
backend/app.db

# Virtual Environment
/virtual_env

backend/app/__pycache__
backend/__pycache__/config.cpython-312.pyc
backend/tests/__pycache__/__init__.cpython-312.pyc
backend/tests/__pycache__/conftest.cpython-312-pytest-8.0.0.pyc
backend/tests/__pycache__/test_project.cpython-312-pytest-8.0.0.pyc
