alembic
APScheduler
attrs
bcrypt
blinker
certifi
charset-normalizer
click
contourpy
coverage
cycler
distlib
filelock
flake8
Flask
Flask-APScheduler
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fonttools
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
joblib
kiwisolver
Mako
MarkupSafe
matplotlib
mccabe
mypy
mypy-extensions
numpy
packaging
pandas
patsy
pillow
platformdirs
pluggy
py
pycodestyle
pyflakes
PyJWT
pyparsing
pytest
pytest-cov
python-dateutil
pytz
requests
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
toml
tox
typing_extensions
tzdata
tzlocal
urllib3
virtualenv
Werkzeug
WTForms
zipp